@import 'assets/styles/mixins.scss';

/////////////////////////////////////////////////////////////////////////////////////////
/*  NPROGRESS */

.ng-progress-bar {
  pointer-events: none;

  .ng-meteor {
    &:after {
      display: block;
      position: absolute;
      right: 0;
      width: 100px;
      height: 100%;
      box-shadow: 0 0 10px #29d, 0 0 5px #29d;
      opacity: 1;

      -webkit-transform: rotate(3deg) translate(0, -4px);
      -ms-transform: rotate(3deg) translate(0, -4px);
      transform: rotate(3deg) translate(0, -4px);
    }
  }

  &:before {
    content: 'Loading...';
    display: block;
    position: fixed;
    width: rem(140);
    padding: rem(6) rem(15);
    background: $white;
    border-radius: 4px;
    border: 1px solid $gray-border;
    right: auto;
    left: 50%;
    top: rem(13);
    margin-left: rem(-73);
    text-align: center;
    padding-left: 25px;
  }
  &:after {
    content: '';
    display: block;
    position: fixed;
    left: 50%;
    top: 22px;
    margin-left: -57px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: $primary;
    border-left-color: $primary;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
