<div class="d-inline-block mr-4">
  <nz-input-group [nzPrefix]="prefixIconSearch">
    <input nz-input class="extInput" (focus)="setVisible()" placeholder="Type to search..." style="width: 200px" />
  </nz-input-group>
  <ng-template #prefixIconSearch>
    <i nz-icon type="search"></i>
  </ng-template>
  <div class="livesearch" [ngClass]="{'livesearchShowed': showSearch}">
    <button class="close" type="button" (click)="setHidden()">
      <span class="utils__visibilityHidden">Close</span>
      <i class="icmn-cross"></i>
    </button>
    <div class="container-fluid">
      <div class="wrapper">
        <div class="logoContainer">
          <img class="logo" src="assets/images/logo.png" alt="" />
        </div>
        <input #liveSearchInput class="searchInput" placeholder="Type to search..." />
        <ul class="options">
          <li class="option optionCheckbox">
            <label nz-checkbox>Search within page</label>
          </li>
          <li class="option">Press enter to search</li>
        </ul>
        <div class="results">
          <div class="resultsTitle">
            <span>Pages Search Results</span>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="resultContent">
                <div class="resultThumb" style="background-image: url(assets/images/photos/1.jpeg)">
                  #1
                </div>
                <div class="result">
                  <div class="resultText">Text from input field must be here</div>
                  <div class="resultSource">In some partition</div>
                </div>
              </div>
              <div class="resultContent">
                <div class="resultThumb" style="background-image:url(assets/images/photos/2.jpeg)">
                  KF
                </div>
                <div class="result">
                  <div class="resultText">Text from input field must be here</div>
                  <div class="resultSource">In some partition</div>
                </div>
              </div>
              <div class="resultContent">
                <div class="resultThumb" style="background-image:url(assets/images/photos/3.jpeg)">
                  GF
                </div>
                <div class="result">
                  <div class="resultText">Text from input field must be here</div>
                  <div class="resultSource">In some partition</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="resultContent">
                <div class="resultThumb">01</div>
                <div class="result">
                  <div class="resultText">Text from input field must be here</div>
                  <div class="resultSource">In some partition</div>
                </div>
              </div>
              <div class="resultContent">
                <div class="resultThumb">02</div>
                <div class="result">
                  <div class="resultText">Text from input field must be here</div>
                  <div class="resultSource">In some partition</div>
                </div>
              </div>
              <div class="resultContent">
                <div class="resultThumb">03</div>
                <div class="result">
                  <div class="resultText">Text from input field must be here</div>
                  <div class="resultSource">In some partition</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>