<nz-dropdown [nzTrigger]="'click'">
  <a nz-dropdown class="dropdown">
    <i class="icon icmn-folder-open"></i>
    <span class="d-none d-xl-inline">
      <strong>Issues History</strong>
    </span>
  </a>
  <ul nz-menu>
    <li nz-menu-item>
      <a href="javascript: void(0);">Current search</a>
    </li>
    <li nz-menu-item>
      <a href="javascript: void(0);">Search for issues</a>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-group>
      <span title>
        <strong>Opened</strong>
      </span>
      <ul class="list-unstyled">
        <li nz-menu-item>
          <a href="javascript: void(0);">
            <i class="menuIcon icmn-checkmark"></i>CLNUI-253 Project implemen...
          </a>
        </li>
        <li nz-menu-item>
          <a href="javascript: void(0);">
            <i class="menuIcon icmn-checkmark"></i>CLNUI-234 Active history iss...
          </a>
        </li>
        <li nz-menu-item>
          <a href="javascript: void(0);">
            <i class="menuIcon icmn-clock"></i>CLNUI-424 Ionicons intergrat...
          </a>
        </li>
        <li nz-menu-item>
          <a href="javascript: void(0);">More</a>
        </li>
      </ul>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-group>
        <span title>
          <strong>Filters</strong>
        </span>
        <ul class="list-unstyled">
          <li nz-menu-item>
            <a href="javascript: void(0);">My open issues</a>
          </li>
          <li nz-menu-item>
            <a href="javascript: void(0);">Reported by me</a>
          </li>
        </ul>
      </li>
    <li nz-menu-divider></li>
    <li nz-menu-item>
      <a href="javascript: void(0);">
        <i class="menuIcon icmn-cog"></i>
        Settings
      </a>
    </li>
  </ul>
</nz-dropdown>
