<div class="topbar">
  <!-- <div class="mr-4">
    <cui-topbar-issues-history></cui-topbar-issues-history>
  </div>
  <div class="mr-4">
    <cui-topbar-project-management></cui-topbar-project-management>
  </div> -->
  <div class="mr-auto">
    <cui-topbar-live-search></cui-topbar-live-search>
  </div>
  <!-- <a href="https://themeforest.net/item/clean-ui-react-admin-template/21938700" target="_blank"
    rel="noopener noreferrer" class="mr-4 d-none d-sm-inline">
    <button nz-button nzType="danger">
      Buy Bundle $26
    </button>
  </a>
  <div class="mr-4">
    <cui-topbar-bitcoin-price></cui-topbar-bitcoin-price>
  </div>
  <div class="mr-4">
    <cui-topbar-home-menu></cui-topbar-home-menu>
  </div> -->
  <div>
    <cui-topbar-profile-menu></cui-topbar-profile-menu>
  </div>
  <div>
  </div>
</div>