<nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
  <a nz-dropdown class="dropdown">
    <i class="icmn-home"></i>
  </a>
  <ul nz-menu class="activity">
    <li nz-menu-item class="item">
      <i class="icon icmn-star-full"></i>
      <div class="inner">
        <div class="title">
          <span class="pull-right">now</span>
          <a href="javascript: void(0);">
            Update Status: <span class="badge badge-danger">New</span>
          </a>
        </div>
        <div class="descr">
          Failed to get available update data. To ensure the proper functioning of your
          application, update now.
        </div>
      </div>
    </li>
    <li nz-menu-item class="item">
      <i class="icon icmn-stack"></i>
      <div class="inner">
        <div class="title">
          <span class="pull-right">24 min ago</span>
          <a href="javascript: void(0);">
            Income: <span class="badge badge-default">$299.00</span>
          </a>
        </div>
        <div class="descr">
          Failed to get available update data. To ensure the proper functioning of your
          application, update now.
        </div>
      </div>
    </li>
    <li nz-menu-item class="item">
      <i class="icon icmn-list"></i>
      <div class="inner">
        <div class="title">
          <span class="pull-right">30 min ago</span>
          <a href="javascript: void(0);">Inbox Message</a>
        </div>
        <div class="descr">
          From: <a href="javascript: void(0);">David Bowie</a>
        </div>
      </div>
    </li>
    <li nz-menu-item class="item">
      <i class="icon icmn-home"></i>
      <div class="inner">
        <div class="title">
          <span class="pull-right">now</span>
          <a href="javascript: void(0);">
            Update Status: <span class="badge badge-primary">New</span>
          </a>
        </div>
        <div class="descr">
          Failed to get available update data. To ensure the proper functioning of your
          application, update now.
        </div>
      </div>
    </li>
    <li nz-menu-item class="item">
      <i class="icon icmn-loop"></i>
      <div class="inner">
        <div class="title">
          <span class="pull-right">24 min ago</span>
          <a href="javascript: void(0);">
            Income: <span class="badge badge-warning">$299.00</span>
          </a>
        </div>
        <div class="descr">
          Failed to get available update data. To ensure the proper functioning of your
          application, update now.
        </div>
      </div>
    </li>
    <li nz-menu-item class="item">
      <i class="icon icmn-cog"></i>
      <div class="inner">
        <div class="title">
          <span class="pull-right">30 min ago</span>
          <a href="javascript: void(0);">Inbox Message</a>
        </div>
        <div class="descr">
          From: <a href="javascript: void(0);">David Bowie</a>
        </div>
      </div>
    </li>
  </ul>
</nz-dropdown>