<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzClosable]="false"
  [nzWidth]="500"
  [nzVisible]="visible"
  (nzOnClose)="closeStateStat()"
  nzPlacement="right"
>
  <div class="row">
    <div class="card col-lg-12  card--withShadow " (click)="openClaimStat()">
      <div class="card-body">
        <div class="col-xl-12 col-lg-6 col-sm-12">
          <span class="pull-left font-size-24">
            <strong>State Claims: </strong>
          </span>
          <span class="pull-right font-size-24">
            <strong> {{ totalStatClaims }}</strong>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card card--withShadow  col-lg-12">
      <div class="card-header">
        <div class="utils__title">
          <strong>Claims By Month</strong>
        </div>
      </div>
      <div class="card-body">
        <x-chartist
          class="ct-chart height-200"
          [data]="monthChartData"
          type="Bar"
          [options]="monthChartOptions"
        >
        </x-chartist>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card card--withShadow  col-lg-12">
      <div class="card-header">
        <div class="utils__title">
          <strong>Claims By Status</strong>
        </div>
      </div>
      <div class="card-body">
        <x-chartist
        type="Pie"
        [data]="simplePieData"
        [options]="simplePieOptions"
        class="height-300"
      >
      </x-chartist>
      </div>
    </div>
  </div>

  <!-- second drawer for claims -->
  <nz-drawer
    [nzClosable]="false"
    [nzVisible]="childrenVisible"
    nzTitle="Claim details"
    (nzOnClose)="closeClaimStat()"
    [nzWidth]="400"
  >
    <nz-list nzItemLayout="vertical">
        <div *ngFor="let item of stateClaimsWithImg">
          <nz-card  [nzCover]="coverTemplate"  [nzHoverable]="true" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
            <nz-card-meta nzTitle={{item.id}}  nzDescription={{item.tags}}  [nzAvatar]="avatarTemplate"></nz-card-meta>
          </nz-card>
          <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
          </ng-template>
          <ng-template #coverTemplate>
            <img alt="example" src={{item.picture}} />
          </ng-template>
          <nz-divider></nz-divider>
        </div>
    </nz-list>
  </nz-drawer>
</nz-drawer>
