<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzClosable]="false"
  [nzWidth]="500"
  [nzVisible]="visible"
  (nzOnClose)="closeStateStat()"
  nzPlacement="right"
>
  <div class="row">
    <div class="card col-lg-12  card--withShadow " (click)="openClaimStat()">
      <div class="card-body">
        <div class="col-xl-12 col-lg-6 col-sm-12">
          <span class="pull-left font-size-24">
            <strong>State Claims: </strong>
          </span>
          <span class="pull-right font-size-24">
            <strong> {{ totalStatClaims }}</strong>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card card--withShadow  col-lg-12">
      <div class="card-header">
        <div class="utils__title">
          <strong>Claims By Month</strong>
        </div>
      </div>
      <div class="card-body">
        <x-chartist
          class="ct-chart height-200"
          [data]="monthChartData"
          type="Bar"
          [options]="monthChartOptions"
        >
        </x-chartist>
      </div>
    </div>
  </div>
  <div class="row statusStyle">
    <div class="card" card--withShadow col-lg-12>
      <div class="card-header">
        <div class="utils__title">
          <strong>Claims By Status</strong>
        </div>
      </div>
      <div class="card-body ">
        <div class="statusStyle">
          <apx-chart
            [series]="chartOptions.series"
            [plotOptions]="chartOptions.plotOptions"
            [labels]="chartOptions.labels"
            [chart]="chartOptions.chart"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>

  <!-- second drawer for claims -->
  <nz-drawer
    [nzClosable]="false"
    [nzVisible]="childrenVisible"
    nzTitle="Claim details"
    (nzOnClose)="closeClaimStat()"
    [nzWidth]="400"
  >
    <nz-list nzItemLayout="vertical">
      <div *ngFor="let item of stateClaims">
        <nz-card [nzCover]="coverTemplate" [nzHoverable]="true">
          <nz-statistic [nzValue]="item.id" nzTitle="Creation Date"></nz-statistic>
          <nz-statistic
            *ngIf="item.status"
            nzValue="Complete"
            nzTitle="Status"
            [nzValueStyle]="{ color: '#3F8600' }"
          ></nz-statistic>
          <nz-statistic
            *ngIf="!item.status"
            nzValue="Pending"
            nzTitle="Status"
            [nzValueStyle]="{ color: '#CF1322' }"
          ></nz-statistic>
        </nz-card>

        <ng-template #coverTemplate>
          <img alt="example" src="{{ item.picture }}" />
        </ng-template>
        <nz-divider></nz-divider>
      </div>
    </nz-list>
  </nz-drawer>
</nz-drawer>
