@import 'src/assets/styles/mixins.scss';
.bitcoinPriceContainer {
  display: flex;
  flex-direction: row;

  @media (max-width: $xs-max-width) {
    display: none;
  }
}

.bitcoinPrice {
  height: 62px;
  width: 70px;
  overflow: hidden;

  ::ng-deep {
    .ct-line {
      stroke-width: 1px;
    }
  }
}
