<div class="block">
  <div class="row">
    <div class="col-xl-12">
      <div class="inner">
        <div class="form">
          <h4 class="text-uppercase">
            <strong>Please log in</strong>
          </h4>
          <br />
          <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()" role="form">
            <nz-form-item>
              <nz-form-label nzFor="email">Email</nz-form-label>
              <nz-form-control>
                <nz-input-group [nzPrefix]="prefixUser">
                  <input nz-input id="email" formControlName="email">
                </nz-input-group>
                <nz-form-explain *ngIf="email.dirty && email.errors">
                  Please input your e-mail address
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="password">Password</nz-form-label>
              <nz-form-control>
                <nz-input-group [nzPrefix]="prefixLock">
                  <input type="password" nz-input id="password" formControlName="password">
                </nz-input-group>
                <nz-form-explain *ngIf="password.dirty && password.errors">
                  Please input your e-mail address
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <div>
              <label nz-checkbox>
                Remember me
              </label>
              <a href routerLink="/user/forgot" class="login-form-forgot pull-right utils__link--blue utils__link--underlined">Forgot password</a>
            </div>
            <div class="form-actions">
              <button nz-button nzType="primary" class="width-150 mr-3">
                Sign in
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>