<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <app-map></app-map>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="card col-lg-12  card--withShadow ">
       
        <div class="card-body">
       <div class="col-xl-12 col-lg-6 col-sm-12">
        <span class="pull-left font-size-24">
          <strong>Total Claims: </strong>
        </span>
        <span class="pull-right font-size-24">
          <strong> 100</strong>
        </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card col-lg-12">
        <div class="card-header">
          <div class="utils__title">
            <strong>Claims By Month</strong>
          </div>
        </div>
        <div class="card-body">
          <x-chartist
            class="ct-chart height-200"
            [data]="monthChartData"
            type="Bar"
            [options]="monthChartOptions"
          >
          </x-chartist>
        </div>
      </div>
    </div>
  </div>
</div>
