<div class="row justify-content-md-center">
  <div class="card">
  <nz-input-group nzCompact >
    <nz-select [ngModel]="'Between'">
      <nz-option [nzLabel]="'Between'" [nzValue]="'Between'"></nz-option>
      <nz-option [nzLabel]="'Except'" [nzValue]="'Except'"></nz-option>
    </nz-select>
    <nz-date-picker></nz-date-picker>
    <nz-date-picker></nz-date-picker>
  </nz-input-group>
</div>
</div>
<nz-divider></nz-divider>
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <app-map></app-map>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="card col-lg-12  card--withShadow ">
          <div class="card-body">
            <div class="col-xl-12 col-lg-6 col-sm-12">
              <span class="pull-left font-size-16">
                <strong>Total Claims: </strong>
              </span>
              <span class="pull-right font-size-18">
                <strong> {{ totalClaims }}</strong>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card card--withShadow  col-lg-12">
          <div class="card-header">
            <div class="utils__title">
              <strong>Claims By State</strong>
            </div>
          </div>
          <div class="card-body">
            <x-chartist
              class="ct-chart height-200"
              [data]="monthChartData"
              type="Bar"
              [options]="monthChartOptions"
            >
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
  </div>



