<div class="row">
  <div class="col-lg-8">
    <div class="card">
    <app-map></app-map>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="utils__title">
          <strong>Month Site Visits Growth, %</strong>
        </div>
        <cui-donut type="primary" name="Income"></cui-donut>
        <cui-donut type="success" name="Outcome"></cui-donut>
      </div>
      <div class="card-body">
        <x-chartist
          class="ct-chart height-300"
          [data]="monthChartData"
          type="Bar"
          [options]="monthChartOptions"
        >
        </x-chartist>
      </div>
    </div>
  </div>
 
</div>
