<div>
  <strong>{{groupData.first.name}}</strong>
  <p class="text-muted mb-1">{{groupData.first.description}}</p>
  <div class="mb-3">
    <nz-progress [nzPercent]="groupData.first.progress" [nzStatus]="groupData.first.status"></nz-progress>
  </div>
  <strong>{{groupData.second.name}}</strong>
  <p class="text-muted mb-1">{{groupData.second.description}}</p>
  <div class="mb-3">
    <nz-progress [nzPercent]="groupData.second.progress" [nzStatus]="groupData.second.status"></nz-progress>
  </div>
  <strong>{{groupData.third.name}}</strong>
  <p class="text-muted mb-1">{{groupData.third.description}}</p>
  <div class="mb-3">
    <nz-progress [nzPercent]="groupData.third.progress" [nzStatus]="groupData.third.status"></nz-progress>
  </div>
  <strong>{{groupData.fourth.name}}</strong>
  <p class="text-muted mb-1">{{groupData.fourth.description}}</p>
  <div class="mb-3">
    <nz-progress [nzPercent]="groupData.fourth.progress" [nzStatus]="groupData.fourth.status"></nz-progress>
  </div>
  <strong>{{groupData.fives.name}}</strong>
  <p class="text-muted mb-1">{{groupData.fives.description}}</p>
  <div class="mb-3">
    <nz-progress [nzPercent]="groupData.fives.progress" [nzStatus]="groupData.fives.status"></nz-progress>
  </div>
</div>
