<div class="card" [class.inverse]="inverse">
  <nz-carousel [nzAutoPlay]="true">
    <div class="item" nz-carousel-content>
      <a href="javascript: void(0);" class="body">
        <div class="icon">
          <i class="icmn-accessibility"></i>
        </div>
        <h2>Sales Growth</h2>
        <p>View Report</p>
      </a>
    </div>
    <div class="item" nz-carousel-content>
      <a href="javascript: void(0);" class="body">
        <div class="icon">
          <i class="icmn-home"></i>
        </div>
        <h2>All Reports</h2>
        <p>Pdf Download</p>
      </a>
    </div>
  </nz-carousel>
</div>
